mrs_uav_managers:

  estimation_manager:

    # loaded state estimator plugins
    # available in mrs_uav_state_estimators: gps_garmin, gps_baro, rtk, aloam, ground_truth, dummy
    state_estimators: [
    "passthrough",
    "gps_baro",
    # "gps_garmin",
    # "rtk",
    # "aloam",
    # "ground_truth",
    # "dummy"
    ]

    initial_state_estimator: "gps_baro" # will be used as the first state estimator
    agl_height_estimator: "" # only slightly filtered height for checking min height (not used in control feedback)


  #Config for the MRS UAV Status topic rate display
  
  #want_hz - fill out topic to be monitored, "topic_name display_name nominal_rate(Hz)"
  #topic_name - if you ommit "/" in the begining of the topic name, the $UAV_NAME namespace will be filled out automatically
  #nominal_rate - this is used to change the display color of the topic if the rate is not close to nominal rate. Use "+" (e.g. 30+) to set just the lower bound
  
  #tf_static_list - fill out topic to be monitored, when a specified static_tf is present
  #format - "tf_name topic_name display_name nominal_rate(Hz)", same rules apply as in the want_hz filed
mrs_uav_status:
  want_hz: [
        # "basler_left/camera_info UV_CAM_left 60",
        # "/oak/rgb/camera_info OAK-D 10",
        # "rplidar/scan RPlidar 10+",
        ]
  tf_static_list: [
      # "os_sensor os_cloud_nodelet/is_alive Ouster 10",
  ]
  
mrs_uav_managers:
    
  control_manager:
  
    joystick:

      enabled: true

      # the trajectory mode is for debugging trajectory control ONLY
      mode: 0 # {0 = goto, 1 = trajectory}

      # carrot on a stick distance for the goto mode
      carrot_distance: 10.00 # [m]

      joystick_timer_rate: 30 # [Hz]

      # mainly for tuning low-level attitude controllers
      # is initiated by pressing "start" for > 3 secs
      attitude_control:

        # tracker and controller used to control the drone using a joystick
        tracker: "JoyTracker"
        controller: "MpcController"

        # what tracker and controller should be activate when
        # switching back from joystick control?
        fallback:

          tracker: "MpcTracker"
          controller: "EmergencyController"

      # channel numbers, indeces in array
      channels:

        # The main front buttons
        # if any of those are pressend in the "joystic control mode",
        # the control returns back to autonomy using the "fallback"
        # controller and tracker
        A: 0 # []
        B: 1 # []
        X: 2 # []
        Y: 3 # []

        # if the "start" button is pressed and held down for > 3 sec, the UAV switches
        # to a tracker and controller specified above in the "attitude_control" section.
        # Autonomy in this mode is not guaranteed, it depends on the specified tracker and controller.
        start: 7 # []

        # If "back" button is pressed, the UAV switches to a GOTO mode, where
        # references are set using the joystick. This is fully autonomous mode,
        # or more specifically, it uses the tracker and controller which were
        # already active.
        back: 6 # []

        # if LT and RT are pressed together, the failsafe is triggered
        LT: 2 # [] left trigger
        RT: 5 # [] right trigger

        # if L_joy and R_joy are pressed together, emergency landing is triggered
        L_joy: 9 # [] pressing left joypad
        R_joy: 10 # [] pressing right joypad

        pitch: 1 # []
        roll: 3 # []
        heading: 0 # []
        throttle: 4 # []

      # multipliers for scaling and reversing the channels
      channel_multipliers:

        pitch: 1.0 # []
        roll: 1.0 # []
        heading: 1.0 # []
        throttle: 1.0 # []

    rc_joystick:

      enabled: true
      # activation channel
      channel_number: 6 # indexed from 0

      horizontal_speed: 4.00 # [m/s]
      vertical_speed: 4.00 # [m/s]
      heading_rate: 0.20 # [rad/s]

      channels:
        pitch: 2
        roll: 0
        heading: 3
        throttle: 1

    pirouette:

      speed: 0.25 # [rad/s]
      timer_rate: 10 # [Hz]  

  constraint_manager:
    
    default_constraints:
      gps_baro: "medium"

    medium:

      horizontal:
        speed: 2.5        # [m/s]
        acceleration: 2.0 # [m/s^2]
        jerk: 40.0        # [m/s^3]
        snap: 40.0        # [m/s^4]

      vertical:

        ascending:
          speed: 2.5       # [m/s]
          acceleration: 1.0 # [m/s^2]
          jerk: 40.0        # [m/s^3]
          snap: 40.0        # [m/s^4]

        descending:
          speed: 2.5       # [m/s]
          acceleration: 1.0 # [m/s^2]
          jerk: 40.0        # [m/s^3]
          snap: 40.0        # [m/s^4]

      heading:
        speed: 1.0        # [rad/s]
        acceleration: 1.0 # [rad/s^2]
        jerk: 20.0        # [rad/s^3]
        snap: 20.0        # [rad/s^4]

      angular_speed:
        roll: 60.0  # [rad/s]
        pitch: 60.0 # [rad/s]
        yaw: 10.0   # [rad/s]

      tilt: 60.0 # [deg]